*{
  padding: 0;
  border: 0;
}


header {
  background-color: rgb(255, 229, 33);
}
.card{
  width:  320px;
  height: 250px;
  display: inline-flex;
  margin: 0.5rem;
  background-color: rgb(255, 229, 33);
  text-anchor: start;
  color: rgb(0, 0, 0);
  text-align: center;
  border: 6px solid rgb(255, 0, 158);

}